language: python
dist: xenial

python:
- '3.7'
- '3.8'
- '3.9'

install:
- pip install setuptools_scm # this is needed, otherwise the correct version cannot be determined; it is always 0.0.0
- pip install .
- pip install pytest pytest-cov # coveralls

script:
- pytest --cov=yourdfpy tests

after_success:
- coveralls || true

git:
  depth: false # maybe this can be undone

deploy:
  provider: pypi
  username: "__token__"
  skip_existing: true
  on:
    tags: true
    branch: main
  password:
    secure: OPwLw/wsbKNQC/vVb0ccXGeujfGpA28ZlQjMaABqGM1aIBNFSkF8gsyE3PQHXU9hksqTDM2I8rXbv302rhpJa3qczcZZ59thdc/xiGMun3nUhnwrlin07Kb3i00qDLgwA6HJ8A119FWVq3NlQPTJ/HD/3R69UT1hnhwcR6npqnsj4J7NVVsvH20EnWzuCREhd7/Hz/vwVYS8qE8ICw9IxqtYUbPBiPaB6J19oI7IyIt8kB6TE0sWIdcAKkzothIMjrFgmupc4fdEmzFqw4J29gczQ1HjOBSSfmD6vk9uXXcxPyXLcCzJRmMUfC7mCVKKXg1SmPOJkmVZYsO74mvgQnexgN1JD3beBA/bxn6LXsiUTKTex5wSXt6i1AzDdNViTr3n2Zhg4eFibkODzk0JEu0dBYnKnJSgmbThzpTt8+/iGvZ7gGYoYvsg6/++BNtYFAXgfiz+SeVurQZ8YGRfcMeBZacnYxVIuBu1JrKw+mdIEcB3q8NXei5DqgRKfrsOP8X80+OfJLSFAhEbneckD8GzZ60wLE/2WPRqiHWVZWYi/U22awNgxeGUJJ1WRGNIXQTfSdI0wWguquvkDzGzMVdGwLpPPt0adzqxelJ4xYgt7ygXQJFyIrUmuZv2Szyn4KqrEHUgc/rxsWUCCDZqAEZtBn323KU9ev8WH5TYfhk=
  distributions: sdist bdist_wheel
notifications:
  email: false
