# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
recommonmark
sphinx>=3.2.1
sphinx_rtd_theme
sphinx-automodapi
lxml
trimesh>=3.9.32
numpy